.LoginContainer {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.submit {
    margin-top: 10px;
    width:20%;
    align-self: center;
    height: 30px;
    font-size: 20px;
    margin: 0 auto;
}
.TokenInput{
    height: 30px;
    width: 30%;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    font-size: 18px;
}
.eventList{
    border: 1px solid;
    border-radius: 5px;
    width: 40%;
    margin-top: 10px;
}
.list {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}
p {
    /* margin-right: 20px; */
}